
.course-page{
  
    .lecturer{
        @extend .flex, .flex-space, .full-width, .align-start;
        margin: 3rem auto 4rem;
        width: 90%; max-width: 85rem;

        .data{
            @extend .flex, .flex-column;
            width: 50%;

            > div{
                @extend .full-width, .flex, .flex-end, .align-start, .default;
                
                .image{
                    @extend .flex, .circle, .over-hide, .layer;
                    width: 3.5rem; height: 3.5rem; background: rgba(0, 0, 0, 0.05);
                    img{ width: 100%; height: 100%; }
                }
                .name{
                    @extend .flex, .flex-column;
                    padding: 0 1rem;

                    h1{
                        width: 100%; margin: .1rem 0 .4rem;
                        font-size: 1.2rem; font-weight: bold;
                        direction: rtl; text-align: right;
                        letter-spacing: .5px; color: #222;
                    }
                    p{
                        width: 100%;
                        font-size: .9rem; font-weight: bold;
                        direction: rtl; text-align: right;
                        letter-spacing: .5px; color: #666;
                    }
                }
                h2{
                    width: 100%; margin: 1rem 0;
                    direction: rtl; text-align: right;
                    font-size: 1rem; font-weight: bold; color: #444;
                    letter-spacing: .3px; line-height: 170%;
                }
            }
        }
        .video{
            width: 45%;
            border-radius: .5rem;
            @extend .flex, .relative, .over-hide;

            video, img{
                min-width: 100%; max-width: 100%; height: 100%;
                max-height: 150%
            }
            .cover{
                @extend .absolute, .flex, .pointer, .full-width, .full-height;
                content: ''; top: 0; left: 0; display: none;
                background: rgba(0, 0, 0, 0.3);

                svg{ width: 80px; height: 80px; }
            }
            &:hover{ .cover{ display: flex } }
        }
        .btns{
            margin: 2rem auto 0;
            @extend .flex, .flex-start, .full-width;

            a{
                @extend .flex, .pointer;
                font-weight: bold; letter-spacing: .5px;
                font-size: 1.1rem; padding: .8rem 0;
                width: 12rem; border-radius: var(--radius);
                background: var(--site-color); color: #fff;
                border: 1px solid var(--site-color);

                &:first-child{
                    background: none; margin: 0 1rem;
                    color: var(--site-color-hover);
                }
                &:hover{
                    background: var(--site-color-hover);
                    opacity: .9; color: #fff;
                    border: 1px solid var(--site-color-hover);
                }
            }
        }
    }
    .intro{
        @extend .flex, .flex-space, .full-width;
        background: var(--dark-back);
        margin: 1.5rem auto 1rem; padding: 2rem;
        align-items: flex-start;
        border-radius: var(--radius);
        width: 90%; max-width: 85rem;
    
        .image{
            @extend .flex, .relative, .layer, .over-hide;
            width: 18.5rem; height: 10.5rem;
            border-radius: var(--radius);
            background: rgba(0, 0, 0, 0.5);
            border: 1px solid var(--site-color);

            img{ width: 100%; height: 100%; }
        }
        .details{
            @extend .default;

            .category{
                @extend .full-width, .flex, .flex-end, .no-select;
            
                span{
                    font-size: .95rem; padding: .3rem 1rem;
                    letter-spacing: .5px; font-weight: bold;
                    border-radius: var(--radius);
                    color: #333; background: #fff;
                }
            }
            h1, h2{
                margin: 1rem auto .5rem;
                @extend .full-width, .flex, .flex-end;

                span{
                    line-height: 160%; text-align: right;
                    font-size: 1.6rem; font-weight: bold;
                    direction: rtl; color: #fff; max-width: 80%;
                }
            }
            h2{
                margin: auto;
                span{
                    font-size: 1rem; color: #ddd;
                    letter-spacing: .5px;
                }
            }
            .rating{
                margin: 1rem auto .5rem;
                @extend .full-width, .flex, .flex-end;

                span{
                    font-size: .95rem; margin: 0 .3rem;
                    color: #fff;
                }
                div{
                    margin: 0 0 0 .3rem;
                    i{ color: #ff9c23; font-size: 1.1rem }
                }
            }
            ul{
                margin: 1rem auto 0;
                @extend .flex, .flex-column, .full-width;

                li{
                    margin: .4rem auto;
                    @extend .flex, .flex-end, .full-width;

                    span{
                        font-size: 1.1rem; color: #fff;
                        direction: rtl;
                        &:first-child{ margin: 0 .5rem }
                    }
                }
            }
            .pricing{
                margin: 1rem auto 0;
                @extend .flex, .flex-start, .full-width;

                span{
                    color: #Fff; font-weight: bold;
                    font-size: 1.5rem;

                    &:first-child{
                        margin: 0 .8rem; font-size: 1.2rem;
                        color: rgb(255, 115, 64);
                        text-decoration: line-through;
                    }
                }
            }
            .btns{
                margin: 2rem auto 0;
                @extend .flex, .flex-start, .full-width;

                a{
                    @extend .flex, .pointer;
                    font-weight: bold; letter-spacing: .5px;
                    font-size: 1.1rem; padding: .8rem 0;
                    width: 12rem; border-radius: var(--radius);
                    background: var(--btn-back); color: #fff;
                    border: 1px solid var(--btn-back);

                    &:first-child{
                        background: none; margin: 0 1rem;
                    }
                    &:hover{
                        background: var(--btn-hover);
                    }
                }
            }
        }
    }
    .info{
        margin: 0 auto 4rem;
        @extend .flex, .flex-column;

        > div{
            width: 100%; margin: 1rem auto;
            border: 1px solid #ddd;
            padding: 2rem;
            border-radius: var(--radius);
        }
        h1{
            font-size: 22px; font-weight: bold;
            margin: 0 0 1rem; color: #000;
            text-align: right; direction: rtl;
        }
        ul{
            @extend .flex, .flex-start, .flex-wrap;
            direction: rtl;

            li{
                @extend .flex, .flex-start, .default; width: 50%;
                margin: .7rem 0; direction: rtl;
                
                span{
                    font-size: .9rem; letter-spacing: .5px;
                    color: #333; font-weight: bold;
                    direction: rtl; text-align: right;
                    &:nth-child(2){ margin: -1px .5rem 0; }
                }
            }
            &.between{
                @extend .flex-space;

                li{
                    margin: .5rem 0; opacity: .8;
                    border-right: 3px solid var(--site-color-hover);
                    width: 48.5%; padding: 1rem;
                    background: var(--light-back);
                    border-radius: var(--radius);
                    span{ color: #000; }
                }
            }
        }
    }
}
